/*Intera lista dei canali*/
.canale-flex-container {
    display: flex;
    flex-direction: column;
    background-color: #1efff4;
}

/*Un canale*/
.canale {
    min-height: 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 5px 5px 10px;
    background-color: rgba(255, 41, 17, 0.44)
}

/*Ogni campo della riga*/
.canale > div {
    vertical-align: center;
    padding: 20px;
}

/*Informazioni del canale (nome e icona)*/
.canale > .info-canale {
    background-color: antiquewhite;
    width: 20%;
    min-width: 145px;
    font-size: 30px;
}

/*Nome e icona del programma in onda*/
.canale > .programma-in-onda {
    background-color: lightgreen;
    min-width: 145px;
    width: 20%;
}

/*Descrizione programma in onda*/
.canale > .descrizione-programma {
    width: 60%;
    min-width: 200px;
    background-color: #707edb;
    font-size: 20px;
}